{% extends "base.html" %}
{% block title %}{{ autor.nombre }} {{autor.apellido}}{% endblock %}

{% block content %}
<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"> {{autor.nombre}} {{autor.apellido}} </h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">{{autor.nacionalidad}}</h6>
        <p class="card-text">Fecha de Nacimiento: {{autor.fecha_nacimiento}}</p>
        <p class="card-text">Fecha de Fallecimiento: {{autor.fecha_muerte}}</p>
        <a href="{% url 'frases:change_status' autor.id %}"><p class="card-text">
          {% if autor.activo %}
          <p class="text-success">Estado: Activo</p>
          {% else %}
          <p class="text-danger">Estado: Inactivo</p>
          {% endif %}
       </p></a>
       <p><a href="{% url 'quotes:frase_per_author' autor.id%}">Ver Frases<a></p>
        <a href="{% url 'frases:delete_autor' autor.id %}" class="card-link text-danger"> <i class="bi bi-eraser-fill"></i> Eliminar</a>
      <br>
      <a href="javascript:history.back()" class="card-link">Regresar</a>
    </div>
  </div>

{% endblock %}
